<div class='contents row'>
  <div class='user_page'>
    <div class='user_info'>
      <div class='user_image'><%= image_tag current_user.image %></div>
      <h2><%= "#{@user.nickname}" %></h2>
    </div>
  </div>
  
  <%= render partial: 'user_tab' %>
</div>
<script>
  $(function() {
    $("li").on("click", function() {
      $("li.selected").removeClass("selected");
      $(this).addClass("selected");
      $(".content" + " section").hide();// 二つの要素を非表示にする
      $("." + this.id).show(); // クリックされたボタンに対応する要素を表示する
    });
  });
</script>
